* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: linear-gradient(90deg, #7f6dd1 0%, #a8c0ff 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  padding: 1.2rem;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.wrapper h1 {
  color: #333;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.sr-only {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.todo-form {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.todo-form input {
  border: none;
  height: 35px;
  border-radius: 6px;
  padding-left: 0.7rem;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.todo-form .input-date {
  width: 200px;
  padding: 0 10px 0 15px;
  color: rgba(0, 0, 0, 0.5);
}

.todo-form .btn-add {
  width: 50px;
  height: 35px;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-size: 13px;
  background-color: #7f6dd1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.btn-add:hover {
  transition: 0.3s ease;
  background-color: #6b5cc0;
}

.action-buttons {
  display: flex;
}

.action-buttons .btn-filter {
  flex: 1;
  margin-top: 18px;
  width: 30%;
  height: 35px;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-size: 13px;
  background-color: #7f6dd1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

.btn-filter:hover {
  transition: 0.3s ease;
  background-color: #6b5cc0;
}

.todo-list {
  list-style: none;
  margin-top: 22px;
  font-size: 15px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 7px 10px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.todo-item:last-child {
  border-bottom: none;
}

.check {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.check:checked + .text {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete-btn {
  background: #ff6f61;
  border: none;
  color: white;
  border-radius: 6px;
  width: 49px;
  height: 35px;
  cursor: pointer;
  font-size: 12px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.delete-btn:hover {
  background-color: #e85a4f;
}

/* Responsive: mobile handphone */
@media screen and (max-width: 576px) {
  .wrapper {
    width: 85%;
  }

  .todo-form {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }

  .todo-form input {
    width: 100%;
  }

  .todo-form .input-date {
    width: 100%;
  }

  .btn-add {
    width: 100%;
  }

  .todo-list {
    font-size: 13px;
  }
}
